black==22.12.0
Cython==0.29.32
pycocotools==2.0.6
fvcore==0.1.5.post20221221
-e git+https://github.com/facebookresearch/detectron2.git@857d5de21a7789d1bba46694cf608b1cb2ea128a#egg=detectron2
easyocr==1.6.2
h5py==3.7.0
imageio==2.23.0
isort==5.11.4
keras==2.11.0
matplotlib==3.6.2
numpy==1.24.1
nvidia-ml-py==11.515.75
opencv-python==4.6.0.66
opencv-python-headless==4.5.4.60
pandas==1.5.2
pytest==6.2.5
PyYAML==6.0
QtPy==2.3.0
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.9.3
Send2Trash==1.8.0
tensorflow==2.11.0
termcolor==2.1.1
timm==0.6.12
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0

